<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>194467419393-abqouguf8m2som67qricp4g259bkfd7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194467419393-abqouguf8m2som67qricp4g259bkfd7t</string>
	<key>API_KEY</key>
	<string>AIzaSyAkedNOFZyH_NELD2_-F1qQIoKiyjVAXyg</string>
	<key>GCM_SENDER_ID</key>
	<string>194467419393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.99coins.ios</string>
	<key>PROJECT_ID</key>
	<string>bitcoinsmobile-f8540</string>
	<key>STORAGE_BUCKET</key>
	<string>bitcoinsmobile-f8540.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:194467419393:ios:ed63b979ee78e116</string>
	<key>DATABASE_URL</key>
	<string>https://bitcoinsmobile-f8540.firebaseio.com</string>
</dict>
</plist>
